streamlit 
langchain 
openai 
chromadb 
tiktoken 
python-dotenv
faiss-cpu
langchain-community
pdf2image
langchain-huggingface
langchain-text-splitters
sentence-transformers 
streamlit
langchain
openai
tiktoken
python-dotenv
pdfminer.six 
pdf2image 
rank_bm25 
cohere 
evaluate 
rouge-score 
nltk 
